.accordion, .accordion *, .accordion *:after, .accordion *:before {
  box-sizing: border-box; }

.accordion p {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px; }

.accordion--with-main-title .accordion__item:first-of-type {
  border-top: none; }
  .accordion--with-main-title .accordion__item:first-of-type.accordion__item--open {
    border-top: 1px solid #e4e6e5; }

.accordion__main-title {
  background-color: white;
  border: 1px solid #e4e6e5;
  padding: 0 25px;
  height: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 400;
  color: #333; }

.accordion__item {
  background-color: white;
  border: 1px solid #e4e6e5;
  border-top: none;
  padding: 0 25px;
  margin: 0;
  -webkit-transition: 0.5s ease margin, 0.5s ease box-shadow;
  transition: 0.5s ease margin, 0.5s ease box-shadow;
  cursor: pointer; }
  .accordion__item:first-of-type {
    border-top: 1px solid #e4e6e5; }

.accordion__item--open {
  margin: 30px 0;
  border-top: 1px solid #e4e6e5;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }
  .accordion__item--open .accordion__item-title {
    font-size: 18px; }
  .accordion__item--open .accordion__item-subtitle {
    white-space: normal; }
  .accordion__item--open .accordion__item-body {
    overflow: auto;
    padding: 15px 0 25px 0; }
  .accordion__item--open + .accordion__item {
    border-top: 1px solid #e4e6e5; }
  .accordion__item--open .accordion__item-head-arrow i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.accordion__item--closed .accordion__item-body-wrapper:after {
  height: 0;
  -webkit-transition: height 0.5s linear;
  transition: height 0.5s linear;
  max-height: 50px; }

.accordion__item--closed .accordion__item-body-wrapper > .accordion__item-body {
  margin-bottom: -2000px;
  -webkit-transition: margin-bottom 0.5s cubic-bezier(1, 0, 1, 1), visibility 0s 0.5s, max-height 0s 0.5s;
  transition: margin-bottom 0.5s cubic-bezier(1, 0, 1, 1), visibility 0s 0.5s, max-height 0s 0.5s;
  visibility: hidden;
  max-height: 0; }

.accordion__item-head {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  min-height: 50px;
  padding: 10px 0;
  -webkit-transition: 0.5s ease height;
  transition: 0.5s ease height; }

.accordion__item-head--with-subtitle {
  min-height: 70px; }

.accordion__item-head-infos {
  max-width: calc(100% - 51px); }

.accordion__item-title {
  font-size: 14px;
  font-weight: 600;
  color: #0465ac;
  -webkit-transition: 0.5s ease font-size;
  transition: 0.5s ease font-size; }

.accordion__item-subtitle {
  margin-top: 12px;
  font-size: 12px;
  font-weight: 600;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.accordion__item-body-wrapper {
  display: -webkit-box;
  display: flex;
  overflow: hidden; }
  .accordion__item-body-wrapper:after {
    content: '';
    height: 50px;
    -webkit-transition: height 0.5s linear, max-height 0s 0.5s linear;
    transition: height 0.5s linear, max-height 0s 0.5s linear;
    max-height: 0px; }

.accordion__item-body {
  overflow: hidden;
  font-size: 13px;
  font-weight: 400;
  color: #333;
  -webkit-transition: margin-bottom 0.5s cubic-bezier(0, 0, 0, 1);
  transition: margin-bottom 0.5s cubic-bezier(0, 0, 0, 1);
  margin-bottom: 0;
  max-height: 1000000px; }

.accordion__item-head-arrow {
  -webkit-box-flex: 0;
          flex-grow: 0;
  padding-left: 25px; }
  .accordion__item-head-arrow i {
    font-size: 26px;
    color: #0465ac;
    -webkit-transition: 0.5s ease transform;
    transition: 0.5s ease transform;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
