@import "variables";

.accordion {
	&, *, *:after, *:before {
	    box-sizing: border-box;
	}
	
	p {
		margin-block-start: 0px;
		margin-block-end: 0px;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
	}

	&--with-main-title {
		.accordion__item {
			&:first-of-type {
				border-top: none;
				&.accordion__item--open {
					border-top: $border;
				}
			}
		}
	}

	&__main-title {
		background-color: $background-color;
		border: $border;
		padding: 0 $internal-padding;
		height: 60px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 18px;
		font-weight: 400;
		color: #333;
	}

	&__item {
		background-color: $background-color;
		border: $border;
		border-top: none;
		padding: 0 $internal-padding;
		margin: 0;
		transition: $transition-duration ease margin, $transition-duration ease box-shadow;
		cursor: pointer;
		&:first-of-type {
			border-top: $border;
		}
	}

	&__item--open {
		margin: 30px 0;
		border-top: $border;
		box-shadow: $box-shadow;
		.accordion__item-title {
			font-size: 18px;
		}
		.accordion__item-subtitle {
			white-space: normal;
		}
		.accordion__item-body {
			overflow: auto;
			padding: #{$internal-padding - 10px} 0 $internal-padding 0;
		}
		& + .accordion__item {
			border-top: $border;
		}
		.accordion__item-head-arrow {
			i {
				transform: rotate(180deg);
			}
		}
	}

	&__item--closed {
		.accordion__item-body-wrapper {
			&:after {
				height: 0;
		  		transition: height $transition-duration linear;
		  		max-height: 50px;
			}
			& > .accordion__item-body {
				margin-bottom: -2000px;
				transition: margin-bottom $transition-duration cubic-bezier(1, 0, 1, 1), visibility 0s $transition-duration, max-height 0s $transition-duration;
				visibility: hidden;
				max-height: 0;
			}
		}
	}

	&__item-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 50px;
		padding: 10px 0;
		transition: $transition-duration ease height;
	}

	&__item-head--with-subtitle {
		min-height: 70px;
	}

	&__item-head-infos {
    	max-width: calc(100% - 51px);
	}

	&__item-title {
		font-size: 14px;
		font-weight: 600;
		color: $title-blue;
		transition: $transition-duration ease font-size;
	}

	&__item-subtitle {
		margin-top: 12px;
		font-size: 12px;
		font-weight: 600;
		color: #999;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__item-body-wrapper {
		display: flex;
		overflow: hidden;
		&:after {
		  	content: '';
		  	height: 50px;
		  	transition: height $transition-duration linear, max-height 0s $transition-duration linear;
		  	max-height: 0px;
	  	}
	}

	&__item-body {
		overflow: hidden;
		font-size: 13px;
		font-weight: 400;
		color: #333;
		transition: margin-bottom $transition-duration cubic-bezier(0, 0, 0, 1);
		margin-bottom: 0;
		max-height: 1000000px;
	}

	&__item-head-arrow {
		flex-grow: 0;
		padding-left: $internal-padding;
		i {
			font-size: 26px;
			color: $title-blue;
			transition: $transition-duration ease transform;
			transform: rotate(0deg);
		}
	}
}